<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div>
  <h2 style="margin:5px">Checkout</h2>
  <table>
    <tr>
      <th><button type="button" onclick="newElement('VOUCHER')">VOUCHER</button></th>
      <th><button type="button" onclick="newElement('TSHIRT')">TSHIRT</button></th>
      <th><button type="button" onclick="newElement('MUG')">MUG</button></th>
    </tr>
  </table>
</div>

<form action="show" method="post">
  <table id="products">
    <tr>
      <th>Products</th>
    </tr>
  </table>
  <br><br>
  <input type="submit" value="Calculate total">
</form>
<br>
<br>
  
<script>
  // Create a new list item when clicking on the "Add" button
  function newElement(string) {
    $("#products").append('<tr>' + '<td><input type="string" name="products[]" value="' + string + '" required></td></tr>');
  }
</script>

</body>
</html>