<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div">
  <h2 style="margin:5px">Checkout</h2>
</div>
  <table>
    <tr>
      <th>Products</th>
    </tr>
    <% @checkout.products.each do |a_product|%>
      <%= "<tr>".html_safe %>
      <%= "<td>#{a_product.name}</td>".html_safe %>
      <%= "</tr>".html_safe %>
    <% end %>
  </table>
<div class="header">
  <h3 style="margin:5px">Total: <%= @checkout.total %></h2>
</div>  
</body>
</html>